

/*General*/
h2{
	color: #EE534F;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-weight: 600;
}

/*Signup form*/

.signup{
	color: #EE534F;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;

}



/*Search form*/

.search{
	color: #EE534F;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	float:left;
}

/*.search input[type="search"]{
	width: 50%;
	margin:0%;
}

.container-search{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
*/
/*Questionnaire*/
.question{
	color: #EE534F;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	border: 1px solid #EE534F;
	padding:10px;
	margin; 10px;
}
input[placeholder]{
	color: #EE534F;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-weight: 400;
}
/*Login form*/
.login{
	color: #EE534F;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}
section{
	border: 1px solid #EE534F;
  	border-radius: 6px;
  	padding: 10px 20px;
  	float: right;
}
/*color builder*/





/*Shipping/billing address*/
.shipping{
	color: #EE534F;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}
.shipping p{
	text-align: left;
	
}
.shipping input{
	position: ;
	text-align: right;
}

/*Schedulling*/
.schedule{
	color: #EE534F;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}

#DropDownTimezone{
	color: #EE534F;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	width: 100%;
    vertical-align: top;
    border: 2px solid #00B5B5;
    border-radius: 4px;
    font-size: 1.25em;
    margin: 5px 5px;
    font-weight: 100;
    padding: 10px 10px 10px 10px;
    text-indent: 18px;
    line-height: 1.7em;
    display: inline-block;
    margin-bottom: 10px;
}

.choosedate, .choosetime{

}

input[type="date"], input[type="time"], input[type="password"], .categories input[type="radio"]{
    width: 33%;
    vertical-align: top;
    border: 2px solid #00B5B5;
    border-radius: 4px;
    font-size: 1.25em;
    margin: 5px 5px;
    font-weight: 100;
    padding: 10px 10px 10px 10px;
    text-indent: 18px;
    line-height: 1.7em;
    display: inline-block;
    margin-bottom: 10px;
}


/*Credit Card*/

.payment-form{
	color: #EE534F;
	border: 1px solid #EE534F;
	border-radius: 6px;
  	padding: 10px 20px;
  	float: left;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}

.payment-form input{
	margin: 10px;
	border:none;
}

input[type="text"], input[type="email"], input[type="search"], select {
    width: 70%;
    vertical-align: top;
    border: 2px solid #00B5B5;
    border-radius: 4px;
    font-size: 1.25em;
    margin: 10px 5px;
    font-weight: 100;
    padding: 10px 10px 10px 0;
    text-indent: 18px;
    line-height: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

fieldset {
  border: none;
}
